/*General chart styles. */
#tt {
    position: absolute;
    display: block;
}

#tttop {
    display: block;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

#ttcont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    font-size: 11px;
    background: #777;
    color: #fff;
}

#ttbot {
    display: block;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
}

/* from JSRootD3Painter */
.xaxis path, .xaxis line, .yaxis path, .yaxis line, .zaxis path, .zaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

rect.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
    overflow: hidden;
}

/*--------------------------------------------------|
| context menu                                      |
|--------------------------------------------------*/

.ctxmenu {
    position: absolute;
    min-width: 64px;
    height: auto;
    padding: 4px;
    margin: 0;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid #999;
    background: #F8F8F8;
    box-shadow: 2px 2px 2px #AAA;
    z-index: 11;
    overflow: visible;
    font-size: 11px;
}